.ta{
    width:1000px;
    height:800px;
    border-collapse: collapse;
}
.top{
    border:3px solid red;
    height:200px;
}
.low{
    border:1px solid black;
}
.topLeft, .topright, .side{
    width: 200px;
}
.topMiddle{
    width: 600px;
}
.left, .right{
    width: 400px;
}
.left{
    background:blueviolet;
}